doctype html
html(lang='ja')
  -
    const info = {
      title: "dot.mizucoffee.net",
      description: "dot.mizucoffee.net"
    }
  - data = data.filter((e) => !e.disable)
  head
    title=info.title
    script(src='./bundle.js')
    link(rel='stylesheet', href='./style.css', type='text/css')
    include head
  body
    div#welcome Welcome to
    div.clearfix#head-box
      div#roulette
        - let roulette = data.concat()
        div.item.item-show= roulette[0].subdomain
        - roulette.shift()
        each item in roulette
          div.item.item-before= item.subdomain
      div.domain .mizucoffee.net
    h1#label subdomain
    div.clearfix#list-box
      each item in data
        div.subdomain= item.subdomain
      div#list-domain .mizucoffee.net
    main
      each item in data
        section(id=`section-${item.subdomain}`)= item.description
          a(href=`//${item.subdomain}.mizucoffee.net`).move-btn Go
          div(id=`back-${item.subdomain}`).back-btn Back
    footer &copy; 2018 mizucoffee.net
    div#splash-wrapper
      include logo.svg
